* {
  font-family: Nunito;
}

@font-face {
  font-family: Nunito;
  src: url(/Nunito/Nunito-Light.ttf);
}
@font-face {
  font-family: "Play Fair";
  src: url(/Playfair_Display/static/PlayfairDisplay-Bold.ttf);
}
@font-face {
  font-family: "Mulish";
  src: url(/Mulish/static/Mulish-Regular.ttf);
}
@font-face {
  font-family: "Nunito 900";
  src: url(/Nunito/Nunito-Black.ttf);
}
@font-face {
  font-family: "Nunito 700";
  src: url(/Nunito/Nunito-Bold.ttf);
}
.font-playfair {
  font-family: "Play Fair";
}
.font-mulish {
  font-family: "Mulish";
}
.font-nunito-700 {
  font-family: "Nunito 700";
}
.font-nunito-900 {
  font-family: "Nunito 900";
}
a:link,
a:hover,
a:visited,
a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

/* **********Main Section********** */
main {
  height: 758px;
  background-image: url(https://s3-alpha-sig.figma.com/img/5e37/cdec/b7048e9159d476dbc8012a02e7a06d20?Expires=1630281600&Signature=FPyuqMmLFoN573frbm8R3rcRBW6JX-ZHAgLWdMwBa7o8FFLeGZ~CC2vdsx4FVVDdp-dA5zr8OgnRL0rSuCpGhoZaIPBX553JNLooyGYKPsEXpHAhbTwLx6nGvHpsoyw0mGQrYkRpHViX9MauyYtByswRvpykaKcZlTbbSX~YDISHUyPZtbrbhbaoSuA9ZAv~VGhUs7n0TXFTAY8u7MW5RFXfV0evrU~X830rHzOGWOF5WZ~6zFqfbNijbKYqjxS-sywUnh5mWzA08K6zPMjKZAS2magnLAHQHYeq8QCR3oZXs0PulJENGAK2V6aJobQBaU5tcWpBHeGzF0WtRqJSxQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
  background-size: 100%;
  background-repeat: no-repeat;
}
section {
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 3rem 110px;
  color: white;
}
.back-arrow > img {
  margin-right: 3rem;
}
.back-arrow > span {
  color: white;
  font-family: "Nunito 700";
  size: 24px;
}
.main-title {
  font-family: "Play Fair";
  font-size: 64px;
  padding-top: 40px;
}
.email-field {
  padding-top: 83px;
}
input[type="text"] {
  width: 447px;
  padding: 26px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.26);
  border: none;
  border-radius: 10px;
  font-size: 24px;
  color: white;
}
::placeholder {
  text-align: center;
  color: white;
  font-family: "Nunito 700";
  font-size: 24px;
}
.send-link > a {
  margin: 31px 0 54px 0;
}
button.send-link-btn {
  width: 447px;
  height: 79px;
  background: #ffcd61;
  box-shadow: 0px 0px 20px rgba(248, 161, 112, 0.47);
  border-radius: 10px;
  border: none;
  font-family: "Nunito 900";
  font-size: 24px;
}
.resend-link {
  font-family: "Nunito 700";
  font-size: 24px;
}
a:link.resend-link-url,
a:hover.resend-link-url,
a:visited.resend-link-url,
a:active.resend-link-url {
  font-family: "Nunito 900";
  text-decoration: underline;
  color: white;
}

/* ***********Footer Section*********** */
footer {
  background-color: #f9f9fb;
  padding: 76px 91px;
}

.footer-column {
  padding-left: 108px;
}

.footer-line {
  border: solid 0.5px #c4c4c4;
  margin: 20px 0px;
}
.social-media {
  align-items: center;
}
.footer-column > p {
  margin-bottom: 8px;
}

@media only screen and (max-width: 1200px) {
  main {
    background-size: 125%;
  }
  .mail-icon > a > img,
  .profile-icon {
    margin: 0 2rem;
  }
}
@media only screen and (max-width: 992px) {
  main {
    background-size: 200%;
    background-position: 50% 20%;
  }
  section {
    padding: 24px 50px;
  }
  .edit-profile-button {
    flex-direction: column;
    align-items: center;
  }
  .mail-icon > a > img,
  .profile-icon {
    margin: 0.5rem 0;
  }
  .footer-flex {
    flex-direction: column;
    align-items: center;
  }
  .footer-column {
    text-align: center;
    padding: 0px;
  }
}

@media only screen and (max-width: 768px) {
  main {
    background-size: 400%;
  }
  section {
    padding: 24px;
  }
  .main-title {
    font-size: 48px;
  }
  .email-field {
    padding-top: 40px;
  }
  input[type="text"] {
    font-size: 18px;
  }
  ::placeholder {
    text-align: center;
    color: white;
    font-family: "Nunito 700";
    font-size: 18px;
  }
  button.send-link-btn {
    font-size: 18px;
  }
  .resend-link {
    font-size: 18px;
  }
}
